@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: Poppins;
}
.btn{
    background-color: rgb(146, 253, 218);
    border: 1px solid rgb(110, 107, 107);
    border-radius: 5px;
}
.text{
    background: rgb(238, 238, 241);
    border: 1px solid rgb(80, 77, 77);
    height: 20px;
    border-radius: 5px;
}
.link{
    color: white;
    font-size: 20px;
}