.add-option{
    display: flex;
    padding: $m-size;
}

.add-option--input{
    flex-grow: 1;
    background: $off-black;
    border: none;
    border-bottom: .3rem solid $grey;
    margin-right: $m-size;
    padding: $s-size;
}