.header {
    background-color: $off-black;
    margin-bottom: $xl-size;
    padding: $m-size 0;
    color:$grey;
}

.header__title{
    font-size:$l-size;
    margin: 0;
}

.header__subtitle{
  font-size: $m-size;
  font-weight: 600;
}