.widget{
    background: #4D4D4D;
    margin-bottom: $xl-size;
}

.widget--message{
color: $grey;
margin: 0;
padding: $l-size;
text-align: center;
border-bottom: 1px solid $grey; 
}
.widget-header{
    background: #2B2B2B;
    padding: $m-size;
    color: $grey;
    display: flex;
    justify-content: space-between;
}
.widget--title{
    margin: 0;
}

